
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body>

    <%- include('./header.ejs') %>

    <div class="container-fluid">
      <img src="./images/collegeImage.jpg" alt="" style="width: 100%; height: 700px;">
    </div>
    <br>
    <br>
    <br>
    <br>

    <div class="container-fluid" style="background-color: #7b6fe5d0; color: white;">
      <div class="row">
          <h1 style="text-align: center; font-size: 40px; margin-top: 80px;">Our Services</h1>
         <div class="col-md-2" >
          
         
             
          </div>
        
          <div class="col-lg-4" >
             
             <br>
             <br>
             
              <i class=" fa fa-lightbulb" style="font-size: 30px; color:lime;"></i><h2 style="font-size: 23px;">INNOVATIVE Ideas</h2>
              <p style="font-size: 14px;"> WEB TECHNOLOGY GROUP believes in developing true partnership. We foster a collegial environment where individual perspectives are respected and honest dialogue is expected./p>
  
             <br>
             <br>
              <i class="fa fa-server" style="font-size: 30px; color:lime;"></i><h2 style="font-size: 23px;">CREATIVE Designing</h2>
              <p style="font-size: 14px;">WEB TECHNOLOGY GROUP brings robust skills and forward looking perspectives to solve customer challenges. We use proven knowledge to make recommendations and provide expert guidance to our cutomers.</p>
               <br>
               <i class="fa fa-user" style="font-size: 30px; color:lime;"></i><h2 style="font-size: 23px;">CLIENT'S Happiness</h2>
              <p style="font-size: 14px;">WEB TECHNOLOGY GROUP is driven to meet client needs with determination and grit. We embrace tough challenges and do not rest until the problem is solved, the right way.</p>
   
              <br>
              <i class="fa fa-list-check" style="font-size: 30px; color:lime;"></i><h2 style="font-size: 23px;">FULL Maintenance</h2>
              <p style="font-size: 14px; ">WEB TECHNOLOGY GROUP Company provides a full range of maintenance and compliance services for Government and Commercial facilities both large and small.</p>
              
              <br>
  
              <i class="fa fa-bullseye" style="font-size: 30px; color:lime;"></i> <h2 style="font-size: 23px;">PRACTICAL Training</h2>
              <p style="font-size: 14px; margin-bottom: 100px;">We don't use paper and pencil at all in our traininng sessions. We are provided only pactical work at training class session.</p>
              
           
  
          </div>
          <div class="col-md-5">
              <center>
              <img src="./images/internet.png" style="margin-top: 200px;  width: 80%; margin-bottom: 70px; " class="logo2">
          </center>
          </div>
      </div>
    
  </div>
  
  

    <!-- hero -->
    <section id="hero">
        <div class="container">
            <div class="px-4 py-5 mt-5 text-center">
                <h1 class="display-5 fw-bold text-body-emphasis">Lets Learn About Us</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">The college has own well-developed state of art infrastructure. The Institute has been built on a land, 20 acres in area with construction of nearly 20,000 Sq. M. in a pollution-free surrounding. The campus is easily approachable from all corners of greater gwalior.</p>
                </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 pb-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="/images/computerCenter.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">COMPUTER CENTER</h1>
                <p class="lead">The institute has fully air-conditioned state of art Central Computer Center, which is available to students of all branches and the staff during and after college hours. It is equipped with 100 no. of the latest PC's and licensed software. Apart from the Central computing facility there are separate computer centers in each department.</p>
              </div>
            </div>
          </div>
    </section>
    <!-- End Hero -->

    <%- include ('./footer.ejs') %>
</body>

</html>